*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

h1{
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: wheat;
  background-color: rgba(0, 0, 0, 0.705);
}

h2{
  text-align: center;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.657);
}

.container-tasks{
  width: 70vw;
  height: 100vh;
  padding: 25px;
}

.card-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-create{
  background-color: rgba(0, 0, 0, 0.527);
  color: wheat; 
 width: 30vw;
 height: 100vh;
 padding: 1.5rem;
}

.task{
  margin: 2rem 0rem;
}

.container{
  display: flex;
}

.card-input{
  width: 25vw;
  height: 5vh;
  margin-bottom: 1.2rem;
  outline: none;
  border: none;
  border-bottom:solid 2px wheat;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

.btn{
  padding: .8vh 8vw;
  outline: none;
  border: none;
  border-radius: 15px;
  color: rgba(90, 87, 87, 0.719);
  font-size: 16px;
  background-color:wheat;
}

.container-tasks h2{
  padding: 25px 0px;
  text-align: center;
}

form{
  display: inline;
  padding: 15px 5px;
}

span{
  padding: 15px 5px;
  font-size: 1.7rem;
}

.btn-trash{
  font-size: 1.4rem;
  border: none;
  outline: none;
}